@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: #F5F5F5;
}

body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
  }
/*** Navigation ***/
.vanlife--logo{
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
}

.header--vanlife a {
    text-decoration: none;
    color: #4D4D4D;
    
}

.header--vanlife{
    display: flex;
    flex-flow: row;
    height: 112px;
    align-items: center;
    padding: 0 30px;

    background: #FFF7ED;
}

.header--vanlife a:hover{
    color: #161616;
    text-decoration: underline;
}


.link--vans, .link--about{
    font-size: 20px;
    width: 51.83px;
    height: 22.92px;
    font-weight: 600;

    color: #4D4D4D;
}

.link--about{
    margin-right: 20px;
}
/*** HOME PAGE ***/
.content--home{
    min-height: 480px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./src/assets/bghome.png") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    padding: 45px 23px;

    color: white;
}

.home--quote{
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
}

.home--description{
    line-height: 24px;
}

.btn--find{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    margin-top: 200px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.btn--find:hover{
    transform: translate(1px, 1px);
}

/*** About PAGE ***/

.about--content{
    background: #FFF7ED;
}

.about--image{
    max-width: 100%;
}

.about--quote1{
    width: 494.33px;
    height: 76px;

    font-weight: 700;
    font-size: 32px;
    line-height: 38px;


color: #161616;
}

.about--mission{
    padding: 27px;
}

.text--mission1,.text--mission2{
    max-width: 900px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-top: 30px;
    /* or 138% */

    color: #161616;
}

.about--container{
    height: 198px;
    margin-top: 55px;
    padding: 32px 37px;

    background: #FFCC8D;
    border-radius: 5px;
}

.about--quote2{
    font-weight: 700;
    font-size: 24px;
    margin: 0 0;

    color: #161616;
}

.btn--explore{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
    background-color: #161616;
    color: white;
    border-radius: 10px;
    margin-top: 25px;
}

.btn--explore:hover {
    transform: translate(1px, 1px);
}

.btn--explore a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}


/*** Vans List ***/

.vanslist--content{
    padding: 27px;
    background-color:#FFF7ED;
    display: block;
}

.vans--listing{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.vamslist--quote{
 

    font-weight: 700;
    font-size: 32px;
    line-height: 34px;

    color: #161616;
}

.vanslist--filter{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.filters{
    margin: 10px;
    padding: 7px 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #4D4D4D;
    background-color: #FFEAD0;
    border-radius: 5px;
}

.clear--filters{
    margin: 10px;
    padding: 7px 25px;
    text-decoration: underline;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #4D4D4D;
    border-radius: 5px;
}

.van{
    margin-top: 60px;
}

.van--info{
    /* display: flex; */
}

.description{
    margin: 0;
}

.van--name{
    margin-right: 30px;
}

.day{
    width: 225px;
    font-weight: 500;
    font-size: 14px;
    text-align: right;

    margin: 0;

    color: #161616;

}

.van--type{
    width: 85.71px;
    height: 33.89px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 16px;
    /* line-height: 32px; */
    text-align: center;
    color: #FFEAD0;
    
    background: #E17654;
    border-radius: 5px;

}

.van--name, .van--price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;

    color: #161616;
}