@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: #F5F5F5;
}

body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
  }
/*** Navigation ***/
.vanlife--logo{
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
}

.header--vanlife a {
    text-decoration: none;
    color: #4D4D4D;
    
}

.header--vanlife{
    display: flex;
    flex-flow: row;
    height: 112px;
    align-items: center;
    padding: 0 30px;

    background: #FFF7ED;
}

.header--vanlife a:hover{
    color: #161616;
    text-decoration: underline;
}

.nav--vanlife{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    gap: 20px;
    color: #4D4D4D;
}


a.link--active {
    text-decoration: underline;
   font-weight: 700;
   color: #161616;
}

.login--icon{
    width: 1.5rem;
}

/*** HOME PAGE ***/
.content--home{
    min-height: 480px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./src/assets/bghome.png") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    padding: 45px 23px;

    color: white;
}

.home--quote{
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
}

.home--description{
    line-height: 24px;
}

.btn--find{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    margin-top: 200px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

/*** About PAGE ***/

.about--content{
    background: #FFF7ED;
}

.about--image{
    width: 100%;
}

.about--quote1{
    width: 494.33px;
    height: 76px;

    font-weight: 700;
    font-size: 32px;
    line-height: 38px;


color: #161616;
}

.about--mission{
    padding: 27px;
}

.text--mission1,.text--mission2{
    max-width: 900px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-top: 30px;
    /* or 138% */

    color: #161616;
}

.about--container{
    height: 198px;
    margin-top: 55px;
    padding: 32px 37px;

    background: #FFCC8D;
    border-radius: 5px;
}

.about--quote2{
    font-weight: 700;
    font-size: 24px;
    margin: 0 0;

    color: #161616;
}

.btn--explore{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
    background-color: #161616;
    color: white;
    border-radius: 10px;
    margin-top: 25px;
}

.btn--explore:hover, .btn--find:hover, .btn--rentVan:hover {
    transform: translate(1px, 1px);
    color:#FFEAD0;
}

.btn--explore a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}


/*** Vans List ***/

.vanslist--content{
    padding: 27px;
    background-color:#FFF7ED;
    display: block;
}

.vans--listing{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 60px;
    gap: 30px;
}

.vanslist--quote{
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;

    color: #161616;
}

.vanslist--filter{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.filters{
    margin: 10px;
    padding: 7px 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #4D4D4D;
    background-color: #FFEAD0;
    border-radius: 5px;
    cursor: pointer;
    
}

.clear--filters{
    margin: 10px;
    padding: 7px 25px;
    text-decoration: underline;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #4D4D4D;
    border-radius: 5px;
    cursor: pointer;
}

.van{
    width: 230px;
    
}

.vanDetails--link{
    text-decoration: none;
    cursor: pointer;
}

.van--image{
    width: 230px;
    height: 230px;
    border-radius: 5px;
}

.description{
    margin: 0;
    display: flex;
}

.van--price{
    margin-left: auto;
    text-align: right;
}

.day{
    width: 225px;
    font-weight: 500;
    font-size: 14px;
    text-align: right;

    margin: 0;

    color: #161616;

}

.van--type{
    width: 85.71px;
    height: 33.89px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    border-radius: 5px;
}

.van--type.rugged{
    background-color: #115E59;
}

.filters.rugged:hover{
    background-color: #115E59;
    color:#FFEAD0;
}

.filters.rugged.selected{
    background-color: #115E59;
    color:#FFEAD0;
}

.van--type.simple{
    background-color: #E17654;
}

.filters.simple:hover{
    background-color: #E17654;
    color:#FFEAD0;
}

.filters.simple.selected{
    background-color: #E17654;
    color:#FFEAD0;
}

.van--type.luxury{
    background-color: #161616;
}

.filters.luxury:hover{
    background-color: #161616;
    color:#FFEAD0;
}

.filters.luxury.selected{
    background-color: #161616;
    color:#FFEAD0;
}

.van--type:hover{
    color:#FFEAD0;
}

.van--type{
    width: 85.71px;
    height: 33.89px;
}

.van--name, .van--price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;

    color: #161616;
}

.footer--vanlife{
    display: flex;
    height: 74.75px;
    align-items: center;
    background: #252525;
}

.copyright--text{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin: 0 auto;
    text-align: center;

    color: #AAAAAA;

}

/***Van Details***/

.vanDetails--page{
    width: 100%;
    /* padding: 30px; */
    background-color: #FFF7ED;
}

.selectedVan--image{
    width: 500px;
    height: 500px;
    margin: 20px 0px;
    border-radius: 5px;
}

.van--details{
    width: 500px;
    margin: 0 auto 0  auto;
    padding-bottom:50px ;
}

.selected--day{
    font-weight: 500;
    font-size: 20px;
}

.btn--rentVan{
    text-decoration: none;
    width: 500px;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FF8C38;
    border-radius: 5px;
    color: white;
    transition: transform .1s ease-in-out;
}

.back--link{
    font-weight: 500;
    font-size: 16px;
}

/***Host***/
.host--navigation{
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    gap: 20px;
    padding: 20px;
    background-color: #FFF7ED;
    
}

.host--navigation a{
    text-align: center;
    text-decoration: none;
    color: #4D4D4D;
}

.host--navigation a:hover{
    font-weight: 700;
    color: #161616;
    text-decoration-line: underline;

}

a.hostActive--link{
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
}


/***Host Vans***/

.hostvan--link{
    background: #FFFFFF;
    height: 102px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    border-radius: 6px;
    margin-bottom: 25px;
    gap: 20px;
}

a.hostvan--link{
    text-decoration: none;
    color: #161616;
}

.hostvans--image{
    width: 66px;
    height: 66px;
    border-radius: 5px;
}

.vanslist--container{
    padding: 26px;
    background-color: #FFF7ED;
}

.listvan--text{
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;

    color: #161616;
}

.vanhost--price{
    font-weight: 500;
    font-size: 16px;
    color: #4D4D4D;

}

.hostvan--details{
    background-color: #FFF7ED;
    padding: 26px;
}

.selvanhost--image{
    width: 160px;
    height: 160px;
    border-radius: 5px;
}
.selvanhost--page{
    /* height: 499px; */
    background: #FFFFFF;
    border-radius: 6px;
    margin-top: 40px;
    padding: 25px;
}
.selvanhost--container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.selvanhost--details{
    height: 160px;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-content: center;
}

.vanhost--links{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

nav.vanhost--links a{
    color: #4D4D4D;
    text-decoration: none;
}

nav.vanhost--links :hover{
    color: #161616;
    text-decoration: underline;
}

.vanhost--photo{
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.vanhost--info{
    font-weight: 700;
    font-size: 15px;

    color: #161616;
}

.vanhost--details{
    font-weight: 500;
}

/***Page Not Found***/
.notfound--text{
    font-weight: 700;
    font-size: 2.5em;
    line-height: 42px;

    color: #161616;
}

.return--link{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
    width: 550px;
    height: 65px;
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #161616;
    color:#FFFFFF;
    border-radius: 10px;
}

.notfound-page{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 73vh;
    background-color: #FFF7ED;
}

/***Login Page***/
.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 73vh;
    background-color: #FFF7ED;

}

.login--text{
    font-weight: 700;
    font-size: 2em;
}

.login--form{
    display: flex;
    flex-direction: column;
}

.username--input, .password--input{
    font-weight: 400;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 13px;

    width: 494px;
    height: 42px;

    background: #FFFFFF;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px 6px 0px 0px;

    flex: none;

    align-self: stretch;
    flex-grow: 0;
}

.username--input{
    border-radius: 6px 6px 0px 0px;
    order: 0;
}
.password--input{
    border-radius: 0px 0px 6px 6px;
    order: 1;
}

.signin--button{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    width: 494px;
    height: 55px;

    background: #FF8C38;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 22px 0 22px 0;
    cursor: pointer;
}

.create-account-link{
    color: #FF8C38;
    cursor: pointer;
}

.message--text{
    color: red;
}

/* Dashboard */
.income--info{
    display: flex;
    padding: 1.7rem;
    flex-direction: column;
    background-color: #FFEAD0;
    column-gap: 2em;
}

.income--history{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.income-history-text{
    font-weight: 500;
    font-size: 16px;
    color: #4D4D4D;
}

.income-history-days{
    font-weight: 700;
    font-size: 16px;
    text-decoration-line: underline;
    color: #4D4D4D;

}

.welcome--text{
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
    margin: 0;
    /* identical to box height, or 61% */
    color: #161616;
}

.detail--link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    margin-left: auto;

    color: #161616;

}

.income--amount{
    font-weight: 800;
    font-size: 3rem;

    color: #161616;
}

.review--score{
    display: flex;
    padding: 1.7rem;
    align-items: center;
    background: #FFDDB2;

}

.star{
    font-size: 1em;
    color:#FF8C38;
    margin: 0;
    align-self: center;
}

.review--text{
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;

    color: #161616;
}

.user--rate{
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;

    color: #161616;
}

.rate{
    margin-left: 1em;
    font-weight: 700;
    font-size: 20px;
    color: #4D4D4D;
}

.listed--vans{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Income */
.income-page{
    background: #FFF7ED;
}

.income-page-details{
    padding: 1.7rem;
}

.graph{
    padding: 1.7em;
}

.graph-image{
    width: 50vw;
    text-align: center;
}

.transactions{
    display: flex;
    flex-direction: column;
    padding: 1.7em;
    row-gap: 2em;
}

.transaction-history{
    display: flex;
    /* flex-direction: column; */
}

.incomepage-history-text{
    margin-left: auto;
}

.record{
    display: flex;
    align-items: center;
    height: 6em;
    padding: 2em;
    background-color: #FFFFFF;
}

.record-date{
    margin-left: auto;
}

.transaction-records{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

/* Reviews */
.reviews{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding: 2em;
    background-color: #FFF7ED;
}

.reviews-history{
    display: flex;
    align-items: center;
}

.reviews-title{
    font-weight: 700;
    font-size: 32px;
    color: #161616;

    margin: 0;
}
.reviews-days{
    font-weight: 500;
    font-size: 16px;
    color: #4D4D4D;
    margin: 0 0 0 1em;
}

.reviews-history-days{
    font-weight: 700;
    font-size: 16px;
    text-decoration-line: underline;
    color: #4D4D4D;
}

.date-name-details{
    display: flex;
    align-items: center;
}

.reviewer-name{
    font-weight: 600;
    font-size: 1em;
    margin: 1em 0;
    color: #161616;
}
.date-posted{
    font-weight: 500;
    font-size: 1em;
    color: #8C8C8C;
}

.review-record{
    margin-top: 1.5em;
    border-bottom:1px solid #C7C7C7;
}

.comment{
    margin-top: 0;
}